---
import Section from "./ui/Section.astro";
import JavaScript from "./icons/JavaScript.astro";
import TypeScript from "./icons/TypeScript.astro";
import NodeJS from "./icons/NodeJS.astro";
import Python from "./icons/Python.astro";
import PHP from "./icons/PHP.astro";
import NextJS from "./icons/NextJS.astro";
import Laravel from "./icons/Laravel.astro";
import AstroBuild from "./icons/AstroBuild.astro";
import FastApi from "./icons/FastApi.astro";
import MySQL from "./icons/MySQL.astro";
import MongoDB from "./icons/MongoDB.astro";
import PostgreSQL from "./icons/PostgreSQL.astro";
import PrismaORM from "./icons/PrismaORM.astro";
import Supabase from "./icons/Supabase.astro";
import Vercel from "./icons/Vercel.astro";
import NeonBase from "./icons/NeonBase.astro";
import Express from "./icons/Express.astro";
import Tailwind from "./icons/Tailwind.astro";
import T3Stack from "./icons/T3Stack.astro";
import ReactIcon from  "./icons/React.astro";
import Zod from "./icons/Zod.astro";
import MariaDB from "./icons/MariaDB.astro";
import PlanetScale from "./icons/PlanetScale.astro";
import CSS from "./icons/CSS.astro";
import HTML from "./icons/HTML.astro";
import Expo from "./icons/Expo.astro";
import GitHubSVG from "./icons/GitHubSVG.astro";
import Git from "./icons/Git.astro";
import { t, setDefaultNamespace } from "i18next";
setDefaultNamespace("techstack");

---

<Section title={t("title")}>
    <ul class="grid grid-cols-1 gap-2 relative rounded-2xl border border-gray-200 bg-gray-50 dark:border-zinc-800 dark:bg-zinc-900 px-5 py-3 shadow-md">

        <h3 class:list={["text-lg font-medium"]}>
            {t("languages")}
        </h3>
        <li class="flex flex-wrap gap-2">
            <JavaScript class:list={["w-10 h-10 rounded-md"]} />
            <TypeScript class:list={["w-10 h-10 rounded-md"]} />
            <Python class:list={["w-10 h-10 rounded-md"]} />
            <PHP class:list={["w-10 h-10 rounded-md"]} />
            <CSS class:list={["w-10 h-10 rounded-md"]} />
            <HTML class:list={["w-10 h-10 rounded-md"]} />
        </li>

        <h4 class:list={["text-lg font-medium"]}>
            {t("frameworks")}
        </h4>
        <li class="flex flex-wrap gap-2">
            <NextJS class:list={["w-10 h-10 rounded-md"]} />
            <Expo class:list={["w-10 h-10 rounded-md"]} />
            <Laravel class:list={["w-10 h-10 rounded-md"]} />
            <AstroBuild class:list={["w-10 h-10 rounded-md"]} />
            <FastApi class:list={["w-10 h-10 rounded-md"]} />
            <Express class:list={["w-10 h-10 rounded-md"]} />
            <NodeJS class:list={["w-10 h-10 rounded-md"]} />
        </li>

        <h4 class:list={["text-lg font-medium"]}>
            {t("libraries")}
        </h4>
        <li class="flex flex-wrap gap-2">
            <ReactIcon class:list={["w-10 h-10 rounded-md"]} />
            <Tailwind class:list={["w-10 h-10 rounded-md"]} />
            <PrismaORM class:list={["w-10 h-10 rounded-md"]} />
            <Zod class:list={["w-10 h-10 rounded-md"]} />
        </li>

        <h4 class:list={["text-lg font-medium"]}>
            {t("databases")}
        </h4>
        <li class="flex flex-wrap gap-2">
            <MySQL class:list={["w-10 h-10 rounded-md"]} />
            <MariaDB class:list={["w-10 h-10 rounded-md"]} />
            <MongoDB class:list={["w-10 h-10 rounded-md"]} />
            <PostgreSQL class:list={["w-10 h-10 rounded-md"]} />
        </li>

        <h4 class:list={["text-lg font-medium"]}>
            {t("others")}
        </h4>
        <li class="flex flex-wrap gap-2">
            <Vercel class:list={["w-10 h-10 rounded-md"]} />
            <T3Stack class:list={["w-10 h-10 rounded-md"]} />
            <Supabase class:list={["w-10 h-10 rounded-md"]} />
            <NeonBase class:list={["w-10 h-10 rounded-md"]} />
            <PlanetScale class:list={["w-10 h-10 rounded-md"]} />
            <GitHubSVG class:list={["w-10 h-10 rounded-md"]} />
            <Git class:list={["w-10 h-10 rounded-md"]} />
        </li>

    </ul>
</Section>