<a
    {...Astro.props}
    target="_blank"
    class={"flex flex-row justify-center items-center gap-x-2 rounded-full bg-white dark:bg-zinc-900 py-2 px-3 appearance-none cursor-pointer text-md shadow-md border transition-all hover:shadow-sm border-gray-200 hover:border-gray-300 dark:border-zinc-800 dark:hover:border-zinc-700"}
>
    <slot />
</a>
